
* {
  margin: 1;
  padding: 1;
}

html {
  background-color: rgb(240, 240, 240);
  color: #4b4848;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20 px;
  text-rendering: optimizeLegibility;
}

h1 {
  color: black;
  margin-left: 20px;
}

.logo {
  transform: rotate(270deg) translate(370px, -572px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50;
  font-weight: 600;
  color: black;

}

.jumbotron{
  text-align: center;
  margin: 0;
  color: black;
}

/*.main-header {
  background-image: 
}*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 150vh;
  min-height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
  background: url('images/background.jpg');
  background-size: cover;
}

.background {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.form-group {
  text-align: center;
  font-weight: bold;
}

.view {
  text-align: center;
}

.car-list.wrapper {
  border: 2px ridge rgba(0,0,0,0.64);
}

.form-group hr {
  position: relative;
  top: 20px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 50px;
}

.review-list-group p {
    font-weight: bold;
}

.list-group-title p {
    font-weight: normal;
}